.App {
  display: flex;
  height: 100%;
  justify-content: center;
}

.controls {
  background-color: blueviolet;
  height: 12.5%;
}

.debug {
  flex: 1;
  background-color: chartreuse;
  color: orange;
}

.display {
  background-image: url(../src/assets/Space-Invaders-Bezel.bmp);
  background-size: cover;
  display: relative;
  justify-content: center; /* Centers children horizontally in the container */
  align-items: center;
  height: 87.5%;
}

.machine {
  flex: 1;
}

.monitor {
  position: absolute;
  background-color: black;
  border: 1px solid greenyellow;
  top: 48%;
  left: 25%;
  width: 36%;
  height: 39%;
  transform: translate(-50%, -50%);
  color: white;
}
